{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center"><h4>Tipo de Entrada</h4></div>
      <div class="card-body">
        <form method="post">
          {{ form.hidden_tag() }}
          <div class="mb-3">
            {{ form.entry_type.label(class="form-label") }}
            {{ form.entry_type(class="form-select") }}
          </div>
          <button class="btn btn-primary w-100">{{ form.submit.label.text }}</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
